body{
    background-color: #f8f9fa;
}

h1 {
    padding: .5em;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

.flex-vertical {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:1%;
}

.flex-vertical h1,
.flex-vertical .main-container{
    margin-left: 3em;
    margin-right: 3em;
}

.main-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: minmax(auto, 60%) auto;
    justify-content: center;
    column-gap: 3em;
    row-gap: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

.video-js {
  width: 100%;
}


.vjs-control-bar .vjs-current-time.vjs-time-control {
  display: block;
  font-size: 1.3em;
  line-height: 2.35em;
}

.vjs-control-bar .vjs-remaining-time.vjs-time-control {
  display: none;
}


.btn-addrelation {
    justify-self:center;
    align-self: center;
    margin-top:.5em;
    min-width: 100px;
    /*border: 1px solid rgba(0,0,0,.125);*/

}

.btn-dodgerblue{
    color:white;
    background-color: dodgerblue;
}

.btn.delete {
  background-color: crimson;
  border: none;
}

.btn.delete:hover {
  background-color: hsl(348, 83%, 42%);
}

.btn-container, .status-container {
  height: 24px;
}

.btn-expanding {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 0px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  width: 30px;
  height: 30px;
  transition: width 0.3s, left 0.4s;
  overflow: hidden;
  pointer-events: visible;
}

.btn-expanding.status{
  /* Positioning it in the lower side */
  position: relative;
  cursor: default;
  bottom: 10px;
  left: 40%;
}

.btn-expanding.delete {
  background-color: crimson;
  position: relative;
  top: 5px;
  left: 90%;
}

.btn-expanding.delete:hover {
  background-color: crimson;
  width: 160px;
  left: 30%;
  padding-left: 0px;
  padding-right: 10px;
}

.btn-expanding.delete .checkmark {
  font-size: 30px;
  padding-left: 109px;
  padding-bottom: 4px;
}

.btn-expanding .label {
  opacity: 0;
  margin-left: 10px;
  transition: opacity 0.6s, padding 0.3s;
}

.btn-expanding:hover {
  background-color: #2fa865;
  width: 160px;
  left: 10%;
  padding-right: 5px;
}

.btn-expanding:hover .label {
  opacity: 1;
  padding-right: 100px;
}

.btn-expanding .checkmark {
  font-size: 30px;
  padding-left: 100px;
}

.btn-expanding .annotating{
  padding-left: 107px;
}

.btn-expanding.annotating{
  background-color: dodgerblue;
}

.buttons{
    display: flex;
    justify-content: space-around;
}


* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  /*background-color: #f1f1f1;*/
  width: 100%;
}

input[type=text][readonly]:not(#descriptionRangeInput) {
  opacity: 0.7;
  border: 0;
  cursor: not-allowed;
}

input[type=text]:not([readonly]):not(#descriptionRangeInput) {
  opacity: 1;
  border: 1px solid #ced4da;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
}

.autocomplete-items-custom1 {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 99;
  top: 222px;
  left: 20px;
  width: 560px;
  max-height: 148px;
  overflow-y: scroll;
}

.autocomplete-items-custom2 {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 99;
  top: 382px;
  left: 20px;
  width: 560px;
  max-height: 148px;
  overflow-y: scroll;
}

.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}



/* Style buttons */
.icon-button {
  background-color:#f8f9fa;
  border: none; /* Remove borders */
  color: gray; /* White text */
  padding: 8px 6px; /* Some padding */
  font-size: 1.4em; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  float: right;
  transition: color 0.6s ease;
}

.icon-button.play-definition {
  font-size: 1.8em;
  margin: 0 40%;
}

/* Darker background on mouse-over */
.icon-button:hover {
    color:#0069d9;
}

.icon-button.trash:hover {
  color: hsl(348, 83%, 40%);
}

.icon-button.trash.active {
  color: crimson;
}

.icon-button.active {
  color: dodgerblue;
}

.list-group-item{
  padding: 0.1rem;
}

.title{
  font-size: 2rem;
  font-weight: bold;
  color:#343a40;
  margin-top:2%;
  line-height: 1.2;
}

.titleLower{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

td {
  vertical-align: middle;
}

td .btn {
  display: block;
  margin: 5px auto;
}

.result_text{
  float: right;
}

/*
-------------------------
*/

.m-concept-text {
  color: #2b73bf;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}

.m-synonym-text {
  color: #10677ca8;
  font-size: 16px;
  font-family: serif;
  font-weight: normal;
  margin-bottom: 10px;
}
.m-synonym-text2 {
  color: #10677ca8;
  font-size: 16px;
  font-family: serif;
  font-weight: normal;
  margin-top:1px;
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.spaced-text{
  padding-right: 8px;
  margin-bottom: 3px;
}

.synonym-set-class{
  color: #10677ca8;
  font-family: serif, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 334px;
  margin-top: -1.5px !important;
  margin-bottom: 0px !important;
}

.selected-concept {
  margin-left: 9px;
  font-weight: 600;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
  color: #2b73bf;
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 1px;
}

.selected-concept-box {
  border: 1px solid #c8c8c8;
  padding: 10px;
  height: 90px;
  border-radius: 10px;
  width: 500px;
  overflow: auto;
}

.description-selected-concept {
  margin-right: 3px;
}

.margin-left {
  margin-left: 5px;
}

.padding-left {
  padding-left: 14px;
}

.same-line{
  display: inline-block !important;
  vertical-align: top !important;
  margin-bottom: 1px !important;
}

.selected-synset-show {
  margin-bottom: 30px;
  display: block !important;
}

.synset-selection-class {
  margin-bottom: 30px;
  height: 130px;
  display: block !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.add-syn-selection-class {
  margin-bottom: 30px;
  height: 130px;
  display: block !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.button-select-synset {
  margin-top: 10px;
  margin-bottom: 8px;
  width: 50%;
}

.button-add-syn {
  margin-top: 10px;
  margin-bottom: 8px;
  width: 100%;
}

.button-rem-syn {
  margin-top: 10px;
  margin-bottom: 8px;
  width: 100%;
}

.main-vocabulary-body {
  max-height: 340px;
}

.conceptList:hover {
  background-color: white;
}

.concept-row {
  display: table;
}

.concept {
  cursor: pointer;
}

.relations-sortable-header::after,
.descriptions-sortable-header::after {
  content: ""; /* No content by default */
}

.relations-sortable-header.ascending::after,
.descriptions-sortable-header.ascending::after {
  content: "↑"; /* Add the arrow symbol */
  font-size: 30;
  margin-left: 4px; /* Optional: Add some space before the symbol */
}

.relations-sortable-header.descending::after,
.descriptions-sortable-header.descending::after {
  content: "↓"; /* Add the arrow symbol */
  font-size: 30;
  margin-left: 4px; /* Optional: Add some space before the symbol */
}

#conceptVocabularyContent {
  margin: 15px 0px;
}

#conceptVocabularyContentBurst {
  margin: 15px 0px;
}

.tab-body {
  height: 400px;
}

.tab-body-1, .tab-body-2, .tab-body-3 {
  height: 100%
}

.tab-body-2, .tab-body-3 {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.tab-error {
  color: red;
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid red;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#conceptsTable {
  margin-top: 15px;
}

.custom-modal {
  width: 600px;
  height: 550px;
  position: absolute;
}

.rectangle-container {
  position: absolute;
  top: 0px;  /* Adjust this as needed */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 100%;
  height: 13px; /* Adjust the height of the container */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  z-index: 10;  /* Ensures it's layered above other content */
}

.rectangle {
  width: 250px;
  height: 13px;
  background-color: rgb(231, 231, 231); /* Set any background color for the rectangle */
  border: 1px solid rgb(194, 194, 194);
  background-image: linear-gradient(45deg, rgb(94, 94, 94) 25%, transparent 25%);
  background-size: 4px 4px; /* Adjust dash size and spacing */
  font-size: 40px;
}

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#conceptsTable .list-group-item:first-child {
  border-top-width: 1px;
}

#conceptsTable .list-group-item:last-child {
  border-bottom-width: 1px;
}

#conceptsTable .list-group-item {
  padding: 10px 20px !important;
}

.button-center {
  justify-content: center;
}

.concept.selected-concept-text{
  background-color: #1c7ade63;
}

.concept.selected-synonym-text{
  background-color: #1cb7de63;
}

.filter-vocabulary-class {
  margin-top: 5px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 95% !important;
}